In [1]:
#TASK 1-----GETTING THE LIST OF PLAYERS WHO HAVE EVER PLAYED AN ODI MATCH


#Importing required libraries

import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests
import csv
import regex as re

#Nation ID'S 
nation_id={'Australia':2,'Bangladesh':25,'England':1,'India':6,
           'NewZealand':5,'Pakistan':7,'SouthAfrica':3,'SriLanka':8,
           'WestIndies':4,'Zimbabwe':9}

#Variables defined
df0=pd.DataFrame()
player_info=dict()

#Beautiful Soup
for nation,id in nation_id.items():    
    
    source = requests.get(f'http://www.espncricinfo.com/ci/content/player/caps.html?country={id};class=2').text
    soup = BeautifulSoup(source, 'lxml')

    for player_list in soup.find_all("li",{"class": "ciPlayername"}):
        
        player_name = player_list.a.text
        player_id = str(player_list.a)
        player_id = player_id.split('player/')[1]

        #player_id is unique for each player
        player_id = player_id.split('.html')[0]
        player_info.update({player_id:player_name})
        df = pd.DataFrame(data={'player_id':[player_id],'player_name':[player_name],'country':nation})
        df0 = df0.append(df)
       
   
#Exporting data to a csv file
df0.to_csv('player_list.csv',index=False)

#player_list contains all the names of ODI players
player_list = df0.reset_index(drop=True)

#player_info dictionary contains player_id & player_name as key-value pair
player_info = dict(zip(player_list.player_id[:],player_list.player_name))

In [109]:
#TASK 2--------LIST OF RUNS MADE BY PLAYERS EACH YEAR THEY HAVE PLAYED THE MATCH


id_list = list(player_info.keys())

#Variables defined
df2 = pd.DataFrame()
df21=pd.DataFrame()

#Beautiful Soup
for id in id_list:

    player_url = requests.get(f'http://stats.espncricinfo.com/ci/engine/player/{id}.html?class=2;template=results;type=batting').text
    sp = BeautifulSoup(player_url, 'lxml')

    th_count = 0
    #counting the block conatining runs detail in html code
    for count in sp.find_all("tr",{"class": "headlinks"}):
        th = str(count.find_all_next("th")).split("</th>")
        for thlis in th:
            th_count += 1
            if re.search("Runs",thlis):
                p = th_count
    #getting runs block
    for ls in sp.select("tr.data1>td.left"):
        if re.search("year",ls.text):
            year = str(ls.text).split("year")[1]
            year = year.strip()
            runs = ls.find_next_siblings("td")[p-2]
            runs_cleaned = str(runs.text).replace("-","0")
            
            #multi-indexing using id,year as tuple
            array = [[id],[year]]
            tuples = list(zip(*array))
            index = pd.MultiIndex.from_tuples(tuples,names = ['player_id','year'])
            df1 = pd.DataFrame(data = list(map(int,[runs_cleaned])),index = index,columns =['runs'])
            df2 = df2.append(df1,sort = True)
            


#Exporting data to a csv file grouped by id
df2.groupby(level=[0,1]).sum().reset_index().to_csv('runs_by_year_id.csv')

#Reading data from the csv file
runs_by_year_id = pd.read_csv('runs_by_year_id.csv')
runs_by_year_id = runs_by_year_id.set_index(['player_id','year']).drop(['Unnamed: 0'],axis=1)



runs_by_year_id.head()

                runs
player_id year
1043681   2018     7
10582     2007   304
          2008   297
          2009   436
          2010   103

In [110]:
#PLAYERS LIST AND THE TOTAL RUNS MADE BY THEM


total_runs = df2.groupby(level='player_id').apply(np.sum)
total_runs = total_runs.rename(index=str,columns={'runs': 'total_runs'})


players = pd.merge(total_runs,player_list,how='outer',on='player_id').sort_index(axis=1)
players=players.sort_values(by=['country']).reset_index(drop=True)
players.head()

     country player_id   player_name  total_runs
0  Australia      7252      TD Paine         890
1  Australia      6995  SP O'Donnell        1242
2  Australia      7002   KJ O'Keeffe          16
3  Australia      7083     LS Pascoe          39
4  Australia      7115   WB Phillips         852

In [115]:
#TASK 3----------Cummulifying it all

grouped = df2.groupby(level=[0,1])

#funtion to get the total runs made by players

def total_runs_by_year(years,pl_id):    
    player_runs = 0
    for name,group in grouped:
        for plid in  pl_id:
            
            for year in years:
                
                if year == name[1] and plid == name[0]:
                    
                    player_runs+=grouped.get_group((plid,year))['runs'].sum()
       

    return(player_runs) 
pl_id= input("Enter player id/player id's seperated by space ")
pl_id = pl_id.split()

years = input("Enter year/years list seperated by space ")
years = years.split()

#calling function passing given inputs as parameter
total_runs_by_year(years,pl_id)

Enter player id/player id's seperated by space 35320
Enter year/years list seperated by space 2010 2011 2012

1032

In [111]:
#Unstacking levels

runs = runs_by_year_id.unstack(level=-1)
runs = runs.fillna(value='-')
runs.head()

          runs                                               ...            \
year      1971 1972 1973 1974 1975 1976 1977 1978 1979 1980  ... 2010 2011
player_id                                                    ...
3943         -    -    -    -    -    -    -    -    -    -  ...    -    -
3975         -    -    -    -    -    -    -    -    -    -  ...    -    -
4112         -    -    -    -    -    -    -    -    -    -  ...    -    -
4127         -    -    -    -    -    -    -    -    -    -  ...    -    -
4144         -    -    -    -    -    -    -    -    -    -  ...    -    -


year      2012 2013 2014 2015 2016 2017 2018 2019
player_id
3943         -    -    -    -    -    -    -    -
3975         -    -    -    -    -    -    -    -
4112         -    -    -    -    -    -    -    -
4127         -    -    -    -    -    -    -    -
4144         -    -    -    -    -    -    -    -

[5 rows x 49 columns]

In [112]:
#resetting index for merging operations
runs = runs.reset_index()
runs.head()

     player_id runs                                          ...            \
year           1971 1972 1973 1974 1975 1976 1977 1978 1979  ... 2010 2011
0         3943    -    -    -    -    -    -    -    -    -  ...    -    -
1         3975    -    -    -    -    -    -    -    -    -  ...    -    -
2         4112    -    -    -    -    -    -    -    -    -  ...    -    -
3         4127    -    -    -    -    -    -    -    -    -  ...    -    -
4         4144    -    -    -    -    -    -    -    -    -  ...    -    -


year 2012 2013 2014 2015 2016 2017 2018 2019
0       -    -    -    -    -    -    -    -
1       -    -    -    -    -    -    -    -
2       -    -    -    -    -    -    -    -
3       -    -    -    -    -    -    -    -
4       -    -    -    -    -    -    -    -

[5 rows x 50 columns]

In [113]:
#converting player_id column values to str

runs['player_id'] = list(map(str,runs['player_id']))

In [162]:
#merging and obtaining final results

final = pd.merge(players,runs,how='outer',on='player_id')
final = final.sort_values(by='country')
final = final.reset_index(drop=True)
final

c:\users\tagme\appdata\local\programs\python\python36-32\lib\site-packages\pandas\core\reshape\merge.py:522: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)
c:\users\tagme\appdata\local\programs\python\python36-32\lib\site-packages\pandas\core\generic.py:3812: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  new_axis = axis.drop(labels, errors=errors)

,country,player_id,player_name,total_runs,"(runs, 1971)","(runs, 1972)","(runs, 1973)","(runs, 1974)","(runs, 1975)","(runs, 1976)",...,"(runs, 2010)","(runs, 2011)","(runs, 2012)","(runs, 2013)","(runs, 2014)","(runs, 2015)","(runs, 2016)","(runs, 2017)","(runs, 2018)","(runs, 2019)"
0,Australia,7252,TD Paine,890,-,-,-,-,-,-,...,278,12,-,-,-,-,-,-,153,-
1,Australia,4629,GJ Cosier,154,-,-,-,-,25,-,...,-,-,-,-,-,-,-,-,-,-
2,Australia,4534,PH Carlson,11,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3,Australia,47884,KC Wessels,3367,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
4,Australia,4527,RJ Campbell,54,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
5,Australia,553800,CP Tremain,23,-,-,-,-,-,-,...,-,-,-,-,-,-,23,-,-,-
6,Australia,4523,GD Campbell,6,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
7,Australia,4508,DE Bollinger,50,-,-,-,-,-,-,...,4,46,-,-,-,-,-,-,-,-
8,Australia,4818,MJ Cosgrove,112,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
9,Australia,4864,DT Christian,273,-,-,-,-,-,-,...,-,-,250,-,23,-,-,-,-,-
10,Australia,4882,DJ Cullen,2,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
11,Australia,4890,AC Dale,78,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
12,Australia,4560,IM Chappell,673,60,87,-,169,226,-,...,-,-,-,-,-,-,-,-,-,-
13,Australia,489889,PJ Cummins,183,-,-,-,-,-,-,...,-,17,4,-,1,12,0,94,38,17
14,Australia,4916,IC Davis,12,-,-,-,11,-,-,...,-,-,-,-,-,-,-,-,-,-
15,Australia,4923,SP Davis,20,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
16,Australia,4951,MJ Di Venuto,241,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
17,Australia,4964,AIC Dodemaide,124,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
18,Australia,4517,IW Callen,6,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
19,Australia,5560,BJ Haddin,3122,-,-,-,-,-,-,...,387,634,-,181,224,206,-,-,-,-
20,Australia,5569,JR Hammond,15,-,15,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
21,Australia,557295,HWR Cartwright,2,-,-,-,-,-,-,...,-,-,-,-,-,-,-,2,-,-
22,Australia,5779,RJ Harris,48,-,-,-,-,-,-,...,36,-,5,-,-,-,-,-,-,-
23,Australia,5939,MEK Hussey,5442,-,-,-,-,-,-,...,825,414,580,-,-,-,-,-,-,-
24,Australia,5941,BW Hilfenhaus,29,-,-,-,-,-,-,...,-,-,0,-,-,-,-,-,-,-
25,Australia,4900,WM Darling,363,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
26,Australia,4561,TM Chappell,229,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
27,Australia,4613,AN Connolly,0,0,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
28,Australia,4600,DJ Colley,0,-,0,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
29,Australia,5017,XJ Doherty,101,-,-,-,-,-,-,...,3,14,37,45,2,0,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,Zimbabwe,55700,AJ Pycroft,295,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1885,Zimbabwe,55698,RW Price,406,-,-,-,-,-,-,...,38,54,40,-,-,-,-,-,-,-
1886,Zimbabwe,235519,TS Chisoro,134,-,-,-,-,-,-,...,-,-,-,-,-,30,54,-,50,-
1887,Zimbabwe,232444,T Muzarabani,12,-,-,-,-,-,-,...,-,-,-,-,-,6,6,-,-,-
1888,Zimbabwe,232442,PS Masvaure,40,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,40,-
1889,Zimbabwe,55692,GE Peckover,33,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1890,Zimbabwe,55691,SG Peall,91,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1891,Zimbabwe,55578,DA Marillier,672,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1892,Zimbabwe,55684,GA Paterson,123,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1893,Zimbabwe,55675,HK Olonga,95,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1894,Zimbabwe,232443,KO Meth,106,-,-,-,-,-,-,...,3,20,10,-,-,-,-,-,-,-
1895,Zimbabwe,55438,TJ Friend,548,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1896,Zimbabwe,235521,TP Kamungozi,27,-,-,-,-,-,-,...,-,-,-,-,21,6,-,-,-,-
1897,Zimbabwe,806241,R Ngarava,14,-,-,-,-,-,-,...,-,-,-,-,-,-,-,12,2,-
1898,Zimbabwe,55643,TV Mufambisi,55,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1899,Zimbabwe,55641,F Mutizwa,403,-,-,-,-,-,-,...,-,140,-,-,-,-,-,-,-,-
1900,Zimbabwe,55640,W Mwayenga,1,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1901,Zimbabwe,55633,CB Mpofu,46,-,-,-,-,-,-,...,8,7,-,2,-,0,2,4,0,0
1902,Zimbabwe,55628,NB Mahwire,117,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1903,Zimbabwe,55612,S Matsikenyeri,2224,-,-,-,-,-,-,...,19,-,9,-,-,19,-,-,-,-
1904,Zimbabwe,55680,AH Omarshah,437,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1905,Zimbabwe,55610,BA Murphy,72,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1906,Zimbabwe,55602,DT Mutendera,20,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1907,Zimbabwe,55579,GC Martin,31,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1908,Zimbabwe,55597,TMK Mawoyo,58,-,-,-,-,-,-,...,-,-,9,9,16,-,-,-,-,-
1909,Zimbabwe,55591,MA Meman,19,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1910,Zimbabwe,55669,IA Nicolson,14,-,-,-,-,-,-,...,14,-,-,-,-,-,-,-,-,-
1911,Zimbabwe,235532,C Zhuwao,154,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,138,-
1912,Zimbabwe,55608,H Masakadza,5604,-,-,-,-,-,-,...,323,341,12,423,532,469,280,313,581,-
1913,Zimbabwe,55584,M Mbangwa,34,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-